
/* You can add global styles to this file, and also import other style files */
/* html {
    height: 100%;
    background-image: linear-gradient( rgb(61,61,61), rgb(146, 146, 146));
    background-size: cover;
} */